name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

          # Remove wrong "multipart" package if present (it breaks gradio/starlette)
          pip uninstall -y multipart || true

          # Ensure correct package is installed
          pip install --force-reinstall "python-multipart==0.0.20"

      - name: Run tests
        env:
          PYTHONPATH: ${{ github.workspace }}
        run: pytest

      - name: Build Docker image
        run: docker build -t mlops-app .